*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.wrapper{
  
    margin: 5px 100px;
}

.header{
    height: 100px;
    background-color: salmon;
   
}

.main-nav{
    height: 50px;
    background-color: lightblue;
  
}

/* .container{
    border: 2px solid blue;
} */

.container::after{
    content: " ";
    display: block;
    clear: both;
}

.content{
    background-color: lime;
    min-height: 530px;
    width: 80%;
    float: left;
    padding: 10px 50px;
    font-size: 20px;
    text-align: justify;
}

.right-sidebar{
    background-color: grey;
    min-height: 530px;
    width: 20%;
    float: right;
}

.footer{
    background-color: mediumvioletred;
    height: 50px;
}